:root {
  --color-text: #111;
  --color-text-rev: #fff;
  --color-button: #166CC8;
  --color-refurbished: #5141BD;
  --color-refurbished-bg: #EFECFF;
  --color-indicator: #FFED00;
  --color-indicator-green: #50CFC6;
  --color-active: #0B9E43;
  --color-active-2: #17A555;
  --color-focus: #BB0628;
  --color-disabled: #777;
  --color-disabled-2: #9b9b9b;
  --color-disabled-3: #d2d2d2;
  --color-disabled-4: #c2c2c2;
  --color-disabled-5: #ededed;
  --color-grey: #9d9fa2;
  --color-grey-2: #dadada;
  --color-grey-light: #d3d3d3;
  --color-error: #ff0000;
  --color-sticky-bg: var(--color-button);
  --color-border: #E8E8E8;
  --color-order-canceled: #D40D0D;
  --color-order-processing: #FA9C57;
  --color-order-suspected-fraud: #991413;
  --color-order-on-hold: #0B65DA;
  --color-order-payment-review: #FDD813;

  --color-border-2: #D2D2D2;
  --color-button-hover: #0C5FB8;
  --color-indicator-hover: #FFF027;
  --color-refurbished-hover: #4231B2;

  --color-footer-background: #fff;
  --color-bottom-content-bg: #333;
}
